Framework/FileMinister.Client.SyncService/Service References/FileSyncServiceReference/FileSyncService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63353/FileSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:63353/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudSync.SyncService" />
  <xs:element name="GetSharedAccessSignatureUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShareId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BlobName" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CloudSync.SyncService" minOccurs="0" name="SharedAccessSignatureType" type="q2:SharedAccessSignatureType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedAccessSignatureUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSharedAccessSignatureUrlResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShareId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BlobName" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBlobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>